.panel-container {
    padding: 20px;
}
a{
    text-decoration:none !important;
}
.btn {
    text-decoration:none !important;
}

#logout {
    padding: 0;
    margin-top: -40px;
    margin-left: -10px;
}
