@import url(https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css);header {
  position: relative;
  height: 60px;
}

header nav {
  height: 100%;
}

header nav ul {
  display: -webkit-box;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
          justify-content: center;
  height: 100%;
  -webkit-box-align: center;
          align-items: center;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  display: -webkit-box;
  display: flex;
  color: #222;
  padding: 0 10px;
}

header nav ul li a:hover {
  text-decoration: none;
  color: #69f;
}

header nav ul li .dropdown {
  background-color: red;
}

.logout {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: flex;
  height: 60px;
  -webkit-box-align: center;
          align-items: center;
  margin-right: 20px;
}

.container {
  height: 100%;
}

